.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button.main{
    border: 1px solid #4e76c2;
    background-color: #4e76c2;
    padding:10px 30px;
    position: relative;
    border-radius: 20px;
    color:#e4dcdc;
    cursor: pointer;
    -webkit-box-shadow: 24px 24px 29px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 24px 24px 29px 7px rgba(0,0,0,0.75);
    box-shadow: 24px 24px 29px 7px rgba(0, 0, 0, 0.39);
}
h2{
    margin:0;
    padding:0;
    font-family: monospace;
}
.top{
    position: absolute;
    top: -50px;
    left: -16px;
    /* display: flex; */
    flex-direction: row;
    padding: 10px 15px 10px 0;
    display: none;
}
.left{
    position: absolute;
    top: -16px;
    left: -50px;
    /* display: flex; */
    flex-direction: column;
    padding: 0 12px 15px 10px;
    display: none;
}
i{
    color: #fff;
    padding: 6px;
    border-radius: 50%;
    background-color: #4e76c2;
    border: 1px solid transparent;
    transition: all 0.4s;
}
a:hover i{
    color:#4e76c2;
    background-color: #fff;
    border: 1px solid #4e76c2;
}
.button.main:hover {
    animation: change .8s infinite;
    animation-direction: alternate;
}
.button.main:hover h2{
    animation: h2change .8s infinite;
    animation-direction: alternate;
}

.button.main:hover .left{
    display: flex;
}
.button.main:hover .top{
    display: flex;
}
@keyframes change {
    from{background-color: #4e76c2;}
    to{background-color: #ffffff;}
}

@keyframes h2change{
    from{color:#e4dcdc;}
    to{color: #4e76c2;}
}